<mat-card class="card nodeDetails-card" *ngIf="this.nodeId">
    
    <div>
        <div style="display: flex; justify-content: space-between;">
            <mat-card-header>
                <mat-card-title>{{this.nodeId}} {{this.nodeName}}</mat-card-title>
                <mat-card-subtitle> {{getNodeType(this.keyId)}}</mat-card-subtitle>
            </mat-card-header>

            <button mat-button
                    style="width: 50px;" 
                    (click)="Close()">
                <mat-icon>close</mat-icon>
            </button>
        </div>

        <mat-tab-group>
            <mat-tab label="Szczegóły">
                <div class="node-details">
                    <mat-card-actions style="padding: 16px;">
                        <button class="edit-buttons" mat-raised-button (click)="setEditMode()">Edytuj</button>
                        <button class="edit-buttons" mat-raised-button [hidden]="!this.editMode">Zapisz</button>
                        <button class="edit-buttons" mat-raised-button [hidden]="!this.editMode">Usuń element</button>
                    </mat-card-actions>
                    <mat-card-content>

                        <mat-form-field class="input-full-width">
                            <mat-label>Opis</mat-label>
                            <textarea [disabled]="!this.editMode" style="height: 100px;" matInput placeholder="Twój opis">{{nodeDesc}}</textarea>
                        </mat-form-field>
                
                        <mat-form-field *ngIf="this.keyId == 'F'" class="example-full-width">
                            <mat-label>ID Organizacji</mat-label>
                            <input [disabled]="!this.editMode" matInput placeholder="ORG001" value="{{this.idOrg}}">
                        </mat-form-field>
                        
                        <mat-form-field *ngIf="this.keyId.charAt(0) == 'D' || this.keyId.charAt(0) == 'C'" class="example-full-width">
                            <mat-label>Typ</mat-label>
                            <input [disabled]="!this.editMode" matInput placeholder="" value="{{this.nodeType}}">
                        </mat-form-field>
                    </mat-card-content>
                    
                </div>
            </mat-tab>

            <mat-tab label="Rysunek">
                <tree-of-mfg-plants-draft *ngFor="let elements of factoryToDraw" [node]="elements"></tree-of-mfg-plants-draft>
            </mat-tab>
        </mat-tab-group>
        
        
    </div>
</mat-card>
  