<mat-card class="card nodeDetails-card" *ngIf="this.nodeId">
    
    <div>
        <div style="display: flex; justify-content: space-between;">
            <mat-card-header>
                <mat-card-title>{{this.nodeId}} {{this.nodeName}}</mat-card-title>
                <mat-card-subtitle> {{getNodeType(this.keyId)}}</mat-card-subtitle>
            </mat-card-header>

            <button mat-button
                    style="width: 50px;" 
                    (click)="Close()">
                <mat-icon>close</mat-icon>
            </button>
        </div>

        <mat-tab-group>
            <mat-tab label="Szczegóły">
                <div class="node-details">
                    <mat-card-actions style="padding: 16px;">
                        <button class="edit-buttons" mat-raised-button (click)="setEditMode()">Edytuj</button>
                        <button class="edit-buttons" mat-raised-button [hidden]="!this.editMode">Zapisz</button>
                        <button class="edit-buttons" mat-raised-button [hidden]="!this.editMode" (click)="deleteNode(this.nodeId)">Usuń element</button>
                    </mat-card-actions>
                    <mat-card-content>
                        <div class="input-fields">
                            <mat-form-field *ngIf="this.keyId.charAt(0) == 'F'" class="example-full-width">
                                <mat-label>ID Organizacji</mat-label>
                                <input [disabled]="!this.editMode" matInput placeholder="ORG001" value="{{this.idOrg}}">
                            </mat-form-field>

                            <mat-form-field *ngIf="this.keyId.charAt(0) == 'F'" class="example-full-width">
                                <mat-label>Lokalizacja</mat-label>
                                <input [disabled]="!this.editMode" matInput placeholder="Miasto" value="{{this.location}}">
                            </mat-form-field>

                            <mat-form-field *ngIf="this.keyId.charAt(0) == 'M'" class="example-full-width">
                                <mat-label>Kierownik</mat-label>
                                <input [disabled]="!this.editMode" matInput value="{{this.manager}}">
                            </mat-form-field>

                            <mat-form-field *ngIf="this.keyId.charAt(0) == 'C'" class="example-full-width">
                                <mat-label>Nadzorca</mat-label>
                                <input [disabled]="!this.editMode" matInput value="{{this.supervisor}}">
                            </mat-form-field>

                            <mat-form-field *ngIf="this.keyId.charAt(0) == 'C'" class="example-full-width">
                                <mat-label>Typ komórki</mat-label>
                                <mat-select [disabled]="!this.editMode" [(ngModel)] ="this.nodeType" name="type">
                                    @for (type of cellTypes; track type) {
                                      <mat-option [value]="type">{{type}}</mat-option>
                                    }
                                  </mat-select>
                            </mat-form-field>

                            <mat-form-field *ngIf="this.keyId.charAt(0) == 'D'" class="example-full-width">
                                <mat-label>Typ stanowiska</mat-label>
                                <mat-select [disabled]="!this.editMode" [(ngModel)] ="this.nodeType" name="type">
                                    @for (type of workstationTypes; track type) {
                                      <mat-option [value]="type">{{type}}</mat-option>
                                    }
                                  </mat-select>
                            </mat-form-field>
                            
                           

                            <mat-form-field class="input-full-width">
                                <mat-label>Opis</mat-label>
                                <textarea [disabled]="!this.editMode" style="height: 100px;" matInput placeholder="Twój opis">{{nodeDesc}}</textarea>
                            </mat-form-field>
                        </div>
                    </mat-card-content>
                    
                </div>
            </mat-tab>

            <mat-tab label="Rysunek">
                <tree-of-mfg-plants-draft *ngFor="let elements of factoryToDraw" [node]="elements"></tree-of-mfg-plants-draft>

                <div style="margin-left: 15px; margin-top: 15px;">
                    <h3>Legenda</h3>
                      <li style="color: red;">fabryka</li>
                      <li style="color: blue;">wydział</li>
                      <li style="color: green;">komórka</li>
                      <li style="color: yellow;">stanowisko</li>
                      <li style="color: violet;">urządzenia</li>
                      
                  </div>
            </mat-tab>
        </mat-tab-group>
        
        
    </div>
</mat-card>
  