<h1 mat-dialog-title>Dodaj {{getType(data.nodeType)}}</h1>


<div mat-dialog-content>
  <h3 *ngIf="data.nodeId != '0'">Należy do: {{data.nodeId}}</h3>
  <p>Wypełnij dane. Wszystkie pola wymagane.</p>

  <div style="display: flex; flex-direction: column;">
    <mat-form-field>
      <mat-label >Nazwa</mat-label>
      <input matInput (keyup)="validateInput(data.nodeType, name, description, height, width, idOrg, celType, wstType)" [(ngModel)]="name">
    </mat-form-field>

    <mat-form-field>
      <mat-label >Opis</mat-label>
      <input matInput (keyup)="validateInput(data.nodeType, name, description, height, width, idOrg, celType, wstType)" [(ngModel)]="description">
    </mat-form-field>

    <mat-form-field>
      <mat-label >Długość</mat-label>
      <input matInput  (keyup)="validateInput(data.nodeType, name, description, height, width, idOrg, celType, wstType)" [(ngModel)]="height">
    </mat-form-field>

    <mat-form-field>
      <mat-label >Szerokość</mat-label>
      <input matInput (keyup)="validateInput(data.nodeType, name, description, height, width, idOrg, celType, wstType)" [(ngModel)]="width">
    </mat-form-field>

    <mat-form-field *ngIf="data.nodeType == 'F'">
      <mat-label >ID Organizacji</mat-label>
      <input matInput (keyup)="validateInput(data.nodeType, name, description, height, width, idOrg, celType, wstType)" [(ngModel)]="idOrg">
    </mat-form-field>

    <mat-form-field *ngIf="data.nodeType == 'C'">
      <mat-label >Typ komórki</mat-label>
      <mat-select [(ngModel)] ="celType" name="type">
        @for (type of cellTypes; track type) {
          <mat-option [value]="type.value">{{type.label}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="data.nodeType == 'D'">
      <mat-label >Typ stanowiska</mat-label>
      <mat-select [(ngModel)] ="wstType" name="type">
        @for (type of wstTypes; track type) {
          <mat-option [value]="type.value">{{type.label}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Anuluj</button>
  <button mat-button  [disabled]="!this.inputValid" [mat-dialog-close]="{name: name, description: description, idOrg: idOrg, celType: celType, wstType: wstType, width: width, height: height}" cdkFocusInitial>Zapisz</button>
</div>
