<div style="display: flex; gap: 100px; margin: 10px 10px;">
    <canvas class="canvas" #layoutCanvas width="0" height="0"></canvas>
    
    <div style="display: flex; gap: 15px;">
        <div style="display: flex; flex-direction: column;">
            <mat-form-field class="example-full-width" style="margin-right: 15px;">
                <mat-label>X</mat-label>
                <input matInput type="number" [(ngModel)]="this.xCoordinate">
              </mat-form-field>
    
              <mat-form-field class="example-full-width">
                <mat-label>Y</mat-label>
                <input matInput type="number" [(ngModel)]="this.yCoordinate">
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Wybierz kolor</mat-label>
                <mat-select [(ngModel)]="selectedColor">
                    @for (color of colors; track color) {
                        <mat-option [value]="color.value">{{ color.name }}</mat-option>
                      }
                </mat-select>
              </mat-form-field>
              <button mat-raised-button (click)="renderRectangle()">
                <span *ngIf="this.isRendered">Zmień</span>
                <span *ngIf="!this.isRendered">Dodaj</span>
              </button>
              <button mat-raised-button (click)="drawConnections()" style="margin-top: 15px;">Ścieżki</button>
        </div>
    
        <div class="nodes-list">
          <mat-list role="list" style="overflow-y: scroll; height: 600px;">
            <mat-list-item *ngFor="let node of nodesFlat; let i = index" 
                            role="listitem" 
                            style="cursor: pointer;" 
                            [ngClass]="{'grey-background': i % 2 === 1, 'selected-node': selectedNode && selectedNode.nodeId === node.nodeId}"
                            (click)="getNodeToRender(node)">
                            {{node.name}}
            </mat-list-item>
        </mat-list>
        </div>
        
    </div>
    
</div>
