<mat-drawer-container class="container">
  <mat-drawer class="side-container" mode="side" opened>
    <div *ngFor="let factory of factories">
      {{this.factory.keyId}} {{this.factory.name}}
      <div *ngFor = "let department of factory.departments">
        -{{department.keyId}} {{department.name}}
        <div *ngFor = "let station of department.stations">
          -- {{station.keyId}} {{station.name}}
        </div>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>Some content</mat-drawer-content>
</mat-drawer-container>