<mat-card style="width: 75%; margin: 10px auto;">
<table mat-table [dataSource]="this.nodes" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="nodeId">
      <th mat-header-cell *matHeaderCellDef> NodeID </th>
      <td mat-cell *matCellDef="let node"> {{node.nodeId}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="keyId">
      <th mat-header-cell *matHeaderCellDef> KeyID </th>
      <td mat-cell *matCellDef="let node"> {{node.keyId}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="parentId">
      <th mat-header-cell *matHeaderCellDef> ParentID </th>
      <td mat-cell *matCellDef="let node"> {{node.parentId}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let node"> {{node.name}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>
  