<div style="display: flex; justify-content: right;" >
    <button [disabled]="!chosenNode"   
            mat-stroked-button style="margin: 0.1em; width: 50%;"   
            mat-button class="add-button" 
            (click)="addNode(chosenNode.nodeId, chosenNode.keyId, chosenNode.parentId)">
        <mat-icon>add</mat-icon>
        Dodaj nowy element
    </button>

    <button     
            mat-stroked-button style="margin: 0.1em; width: 50%;"   
            mat-button class="add-button" 
            (click)="addNode('0', '0', '0')">
        <mat-icon>add</mat-icon>
        Dodaj nową fabrykę
    </button>
  </div>

<mat-tab-group class="custom-tab-group">
    <mat-tab label="Fabryki">
        <mat-tree *ngIf="!isLoading" [dataSource]="factoriesData" [treeControl]="treeControl" class="example-tree">
            <!-- Leaf nodes --> 
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle >
                <div class="mat-tree-node" [ngClass]="{'chosen-node': chosenNode && node.nodeId === chosenNode.nodeId}">
                    <!-- Your existing content -->
                    <div class="node-content" (click)="setNodeDetails(node.nodeId, node.keyId, node.parentId, node.width, node.height)">
                        <mat-icon class="example-tree-icon" [ngClass]="getIconClass(node.keyId)" style="margin-right: 5px;">
                            {{ getIconClass(node.keyId) }}
                        </mat-icon>
                        {{node.nodeId}} {{node.name}}
                    </div>
                </div>
            </mat-tree-node>
          
            <!-- Expandable nodes -->
            <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                <div class="mat-tree-node" [ngClass]="{'chosen-node': chosenNode && node.nodeId === chosenNode.nodeId}" style="display: flex; flex-direction: column;" >
                    <!-- Your existing content -->
                    <div class="node-content"  style="align-self: flex-start;" (click)="setNodeDetails(node.nodeId, node.keyId, node.parentId, node.width, node.height)">
                        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' +  node.name">
                            <mat-icon class="mat-icon-rtl-mirror">
                                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                            </mat-icon>
                        </button>
                        <mat-icon class="example-tree-icon" [ngClass]="getIconClass(node.nodeId)" style="margin-right: 5px;">
                            {{ getIconClass(node.keyId) }}
                        </mat-icon>
                        {{node.nodeId}} {{node.name}}
                    </div> 
                </div>
                
                <div [class.example-tree-invisible]="!treeControl.isExpanded(node)" role="group">
                    <!-- Recursive call for nested nodes -->
                    <ng-container matTreeNodeOutlet></ng-container>
                </div>
            </mat-nested-tree-node>
        </mat-tree>
    </mat-tab>
    <mat-tab label="Urządzenia">
        <mat-tree *ngIf="!isLoading" [dataSource]="workPiecesData" [treeControl]="treeControl" class="example-tree">
            <!-- Leaf nodes --> 
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle >
                <div class="mat-tree-node" [ngClass]="{'chosen-node': chosenNode && node.nodeId === chosenNode.nodeId}">
                    <!-- Your existing content -->
                    <div class="node-content" (click)="setNodeDetails(node.nodeId, node.keyId, node.parentId, node.width, node.height)">
                        <mat-icon class="example-tree-icon" [ngClass]="getIconClass(node.keyId)" style="margin-right: 5px;">
                            {{ getIconClass(node.keyId) }}
                        </mat-icon>
                        {{node.name}}
                    </div>
                </div>
            </mat-tree-node>
          
            <!-- Expandable nodes -->
            <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                <div class="mat-tree-node" [ngClass]="{'chosen-node': chosenNode && node.nodeId === chosenNode.nodeId}" style="display: flex; flex-direction: column;" >
                    <!-- Your existing content -->
                    <div class="node-content"  style="align-self: flex-start;" (click)="setNodeDetails(node.nodeId, node.keyId, node.parentId, node.width, node.height)">
                        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' +  node.name">
                            <mat-icon class="mat-icon-rtl-mirror">
                                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                            </mat-icon>
                        </button>
                        <mat-icon class="example-tree-icon" [ngClass]="getIconClass(node.nodeId)" style="margin-right: 5px;">
                            {{ getIconClass(node.keyId) }}
                        </mat-icon>
                        {{node.name}}
                    </div> 
                </div>
                
                <div [class.example-tree-invisible]="!treeControl.isExpanded(node)" role="group">
                    <!-- Recursive call for nested nodes -->
                    <ng-container matTreeNodeOutlet></ng-container>
                </div>
            </mat-nested-tree-node>
        </mat-tree>
    </mat-tab> 
</mat-tab-group>

  



  