<mat-stepper #stepper>
  <!-- Factories step-->
<mat-step [stepControl]="firstFormGroup" >
  <div style="display: flex; flex-direction: column; height: 100%;">
      <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Dodaj fabrykę</ng-template>
          <div style="display: flex; flex-direction: column;">
            <mat-form-field>
              <mat-label >Nazwa</mat-label>
              <input matInput formControlName="name" required (keyup)="validateInput(getNodeType('0'), name, description, height, width, idOrg, celType, wstType)">
            </mat-form-field>
        
            <mat-form-field>
              <mat-label >Opis</mat-label>
              <input matInput formControlName="description" required (keyup)="validateInput(getNodeType('0'), name, description, height, width, idOrg, celType, wstType)">
            </mat-form-field>
        
            <mat-form-field>
              <mat-label >Długość</mat-label>
              <input matInput formControlName="width" required  (keyup)="validateInput(getNodeType('0'), name, description, height, width, idOrg, celType, wstType)">
            </mat-form-field>
        
            <mat-form-field>
              <mat-label >Szerokość</mat-label>
              <input matInput formControlName="height" required (keyup)="validateInput(getNodeType('0'), name, description, height, width, idOrg, celType, wstType)">
            </mat-form-field>
        
            <mat-form-field>
              <mat-label >ID Organizacji</mat-label>
              <input matInput formControlName="idOrg" required (keyup)="validateInput(getNodeType('0'), name, description, height, width, idOrg, celType, wstType)">
            </mat-form-field>

            <button mat-raised-button (click)="addFactory()" style="width: 30%;">Zapisz</button>
          </div>
          
          <div style="margin-top: 25px;">
            <button mat-raised-button matStepperNext >Dalej</button>
          </div>
        </form>
  </div>
  
</mat-step>

<!-- Departments step-->
<mat-step [stepControl]="secondFormGroup" label="Dodaj wydziały">
  <div style="display: flex; gap: 400px; justify-content: center;">
    <div style="display: flex; flex-direction: column; justify-content: space-between;">
      <h1 *ngIf="this.factoryToAdd" style="display: inline;">{{this.factoryToAdd.name}}</h1>
      <h2>Wydziały:</h2>
      <mat-divider></mat-divider>
      <mat-list role="list" style="height: 300px;">
        <mat-list-item *ngFor="let department of departmentsToAdd; " role="listitem">- {{department.name}}</mat-list-item>
      </mat-list>
      <mat-divider></mat-divider>
      <div>
        <button mat-raised-button matStepperPrevious style="margin-right: 15px;">Wstecz</button>
        <button mat-raised-button matStepperNext>Dalej</button>
      </div>
    </div>

    <div> 
      <form [formGroup]="secondFormGroup" style="display: flex; flex-direction: column;">
        <mat-form-field>
          <mat-label >Nazwa</mat-label>
          <input matInput formControlName="name" required (keyup)="validateInput(data.nodeType, name, description, height, width, idOrg, celType, wstType)">
        </mat-form-field>
    
        <mat-form-field>
          <mat-label >Opis</mat-label>
          <input matInput formControlName="description" required (keyup)="validateInput(data.nodeType, name, description, height, width, idOrg, celType, wstType)">
        </mat-form-field>
    
        <mat-form-field>
          <mat-label >Długość</mat-label>
          <input matInput formControlName="width" required  (keyup)="validateInput(data.nodeType, name, description, height, width, idOrg, celType, wstType)">
        </mat-form-field>
    
        <mat-form-field>
          <mat-label >Szerokość</mat-label>
          <input matInput formControlName="height" required (keyup)="validateInput(data.nodeType, name, description, height, width, idOrg, celType, wstType)">
        </mat-form-field>

        <button mat-raised-button (click)="addDepartment()">Dodaj</button>
      </form>
    </div>

  </div>
  
</mat-step>

<!-- Cells step -->
<mat-step label="Dodaj komórki">

  <div>
    <button mat-raised-button matStepperPrevious style="margin-right: 15px;">Wstecz</button>
    <button mat-raised-button matStepperNext>Dalej</button>
  </div>
</mat-step>

<!-- Stations step-->
<mat-step label="Dodaj stanowiska">

  <div>
    <button mat-raised-button matStepperPrevious>Wstecz</button>
    <button mat-raised-button matStepperNext>Dalej</button>
  </div>
</mat-step>

<mat-step>
  <ng-template matStepLabel>Zapisz</ng-template>
  <p>You are now done.</p>
  <div>
    <button mat-raised-button matStepperPrevious>Wstecz</button>
    <button mat-raised-button (click)="stepper.reset()">Zapisz</button>
  </div>
</mat-step>
</mat-stepper>
